/* Footer and footer contents */

footer {
   width: 100%;
   background-color: rgba(0,0,0,0.05);
   color: black;
   opacity: 0.8;
   text-align: center;
}

button {
	max-height:50%;
	margin-left: 1%;
}