@font-face {
  font-family: 'landing_font';
  src: url('../fonts/anthology.regular-demo.ttf') format('truetype')
}

html {
	height:100vh;
}

body {
	font-size: 100%;
	height: 100vh;
	background-color: #BFE2DE;
	max-width: 100vw;
	min-width: 400px;
}

#nav{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	min-width: 335px;
	margin: 0.1rem;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.navbar{
	background-color: #FECD80;
	border: 0px solid black;
	border-radius:0px;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	max-width: 540px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding:0;
	margin:1px;
	list-style-type: none;
}

a {
	color: #1B0E00;
	font-family: landing_font;
	font-size:2em;
}


.nav-link{
	padding: 0rem 0.5rem;
}


a:hover {
	color: #00ACD4;
}


#monastic {
	left:60%;
	height: 0.5vh;
	min-height:500px;
	overflow-x: hidden;
	z-index: -1;
}

.news-image-wrapper{
	display:flex;
	justify-content: center;
	align-items: center;
	max-height: 100%;
	margin-top: 1%;
	margin-bottom: 1%;
	max-width: 300px;
}

.news-text{
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
   width: 100%;
   background-color: rgba(0,0,0,0.05);
   color: black;
   opacity: 0.8;
   text-align: center;
}

button {
	max-height:50%;
	margin-left: 1%;
}

@media screen and (max-width: 1200px) {
	.news-image-wrapper{
		padding: 1em;
	}
	#monastic {
		left:55%;
	}
	a{
		font-size:1.4em;
	}
	.navbar{
		max-width: 410px;
	}
}

@media screen and (max-width: 992px) {
	#monastic {
		left:20%;
		top:5%;
		opacity: .3;
		max-height: 100vh;
		min-height: 600px;
		min-width: 575px;
		overflow-x: hidden;
	}
	.news-image-wrapper{
		
	}
	a{
		font-size:1em;
	}
	#nav {
		justify-content: center;
	}
	.navbar{
		max-width:300px;
	}
}

@media screen and (max-width: 768px) {
	#monastic {
	left:10%;
	opacity: .3;
	max-height: 100vh;
	min-height: 600px;
	min-width: 576px;
	overflow-x: hidden;
	}

	.navbar {
		max-width: 400px;
	}
	 a{
		font-size:1.2em;
	}
	#nav{
		max-width: 400px;
		justify-content: center;
		margin: auto;
		margin-top:1rem;
		margin-bottom: 1rem;
	}
	.news-image-wrapper{
		margin:auto;
	}
	.news-text{
		margin:auto;
	}
	.news-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

@media screen and (max-width: 576px){
	#monastic {
		left:-5%;
	}
}


#page > .row {
	height:100%;
}